#body, body {
  height: 100% !important;
  margin: 0;
  padding: 0;
  width: 100% !important;
  background-color: #fff;
}

img {
  line-height: 100%;
  outline: none;
  text-decoration: none;
  -ms-interpolation-mode: bicubic;
}

a img, img {
  border: 0;
}

table, td, th {
  mso-table-lspace: 0;
  mso-table-rspace: 0;
}

table {
  border-collapse: collapse;
}

table[align=center] {
  margin: 0 auto;
}

td, th {
  padding: 0;
}

body, td, th {
  -webkit-text-size-adjust: 100%;
  -ms-text-size-adjust: 100%;
  font-family: Helvetica Neue, Helvetica, Arial, sans-serif;
  color: #333;
  font-size: 16px;
  line-height: 22px;
}

a {
  color: #337ab7;
}

.img-nospacing, .img-responsive, .thumbnail img {
  display: block;
}

.img-responsive {
  height: auto;
  /*! Make sure you set max-width to the <img>s as inline style in order for them not to blow out. */
}

hr {
  border: 0;
  border-top: 1px solid #eee;
}

.tbl td, .tbl th {
  padding: 8px;
  border: 1px solid #ddd;
}

h1, h2, h3, h4, h5, h6 {
  margin: 0 0 8px;
}

.h1, .h2, .h3, .h4, .h5, .h6, h1, h2, h3, h4, h5, h6 {
  font-family: inherit;
  font-weight: 500;
  line-height: 1.1;
  color: inherit !important;
}

.h1, h1 {
  font-size: 36px;
}

.h2, h2 {
  font-size: 32px;
}

.h3, h3 {
  font-size: 28px;
}

.h4, h4 {
  font-size: 24px;
}

.h5, h5 {
  font-size: 20px;
}

.h6, h6 {
  font-size: 16px;
}

p {
  margin: 0 0 16px;
}

.lead {
  font-size: 21px;
  line-height: 1.25;
}

.small, small {
  font-size: 87.5%;
}

.text-muted {
  color: #777;
}

.container {
  width: 600px;
  margin: 0 auto;
}

.contents {
  text-align: left;
  vertical-align: top;
  padding-left: 15px;
  padding-right: 15px;
}

.contents[align=center] {
  text-align: center;
}

.contents[align=right] {
  text-align: right;
}

.row {
  width: 100%;
  table-layout: fixed;
}

.col-half {
  width: 50%;
}

.col-1-3rd {
  width: 33.33333333%;
}

.col-2-3rd {
  width: 66.66666667%;
}

.btn {
  text-align: center;
  padding: 6px 12px;
  background-color: #f5f5f5;
  border: 1px solid #ccc;
}

.btn a {
  white-space: nowrap;
  text-decoration: none;
  color: #333;
}

.thumbnail {
  display: block;
  padding: 4px;
  background-color: #fff;
  border: 1px solid #ddd;
  border-radius: 4px;
}

.caption {
  padding: 9px;
}

.panel {
  width: 100%;
  background-color: #fff;
}

.panel-body, .panel-footer, .panel-heading {
  border: 1px solid #ddd;
}

.panel-body {
  padding: 15px;
}

.panel-footer, .panel-heading {
  padding: 10px 15px;
  background-color: #f5f5f5;
}

@media only screen and (max-width:480px) {
  .column, .container, .img-responsive {
    width: 100% !important;
  }

  .column {
    display: block !important;
  }
}
