//
// Buttons
// --------------------------------------------------

.btn {
  // Core styles
  text-align: center;
  padding: $padding-base-vertical $padding-base-horizontal;
  background-color: $btn-default-bg;
  border: 1px solid $btn-default-border;

  a {
    white-space: nowrap;
    text-decoration: none;
    color: $btn-default-color;
  }
}

//
// Thumbnails
// --------------------------------------------------

.thumbnail {
  display: block;
  padding: $thumbnail-padding;
  background-color: $thumbnail-bg;
  border: 1px solid $thumbnail-border;
  border-radius: $thumbnail-border-radius;

  img {
    @extend .img-nospacing;
  }
}
// Image captions
.caption {
  padding: $thumbnail-caption-padding;
  // color: $thumbnail-caption-color;
}

//
// Panels
// --------------------------------------------------

.panel {
  width: 100%;
  background-color: $panel-bg;
}

%panel-default-border {
  border: 1px solid $panel-default-border;
}
// Panel contents
.panel-body {
  @extend %panel-default-border;

  padding: $panel-body-padding;
}

// In original Bootstap, the same values are set to both heading and footer
%panel-non-body-common {
  padding: $panel-heading-padding;
  background-color: $panel-default-heading-bg;
}

// Optional heading
.panel-heading {
  @extend %panel-default-border;
  @extend %panel-non-body-common;

  // th.& {
  //   font-size: ceil(($font-size-base * 1.125));
  // }
}

// Optional footer (stays gray in every modifier class)
.panel-footer {
  @extend %panel-default-border;
  @extend %panel-non-body-common;
}
