// Scaffolding
// --------------------------------------------------

// Body reset
body,
td,
th {
  font-family: $font-family-base;
  color: $text-color;
  font-size: $font-size-base;
  line-height: $line-height-computed; // use -computed instead of -base for shorter inline style
}

// Links
a {
  color: $link-color;
}

// Images
.img-nospacing {
  display: block;
}

// Responsive images
.img-responsive {
  @extend .img-nospacing;

  height: auto;

  /*! Make sure you set max-width to the <img>s as inline style in order for them not to blow out. */
}

@media only screen and (max-width: 480px) {
  .img-responsive {
    width: 100% !important;
  }
}

// Horizontal rules
hr {
  border: 0;
  border-top: 1px solid $hr-border;
}

// Tables
.tbl {
  td,
  th {
    padding: $table-cell-padding;
    border: 1px solid $table-border-color;
  }
}
