// Grid system
// --------------------------------------------------
// Container
.container {
  width: 600px;
  margin: 0 auto;
}

// Content box
.contents {
  text-align: left;
  vertical-align: top;
  padding-left: $grid-gutter-width / 2;
  padding-right: $grid-gutter-width / 2;

  &[align="center"] {
    text-align: center;
  }

  &[align="right"] {
    text-align: right;
  }
}

// Row
.row {
  width: 100%;
  table-layout: fixed;
}

// Columns
// preset width
.col-half {
  width: 50%;
}

.col-1-3rd {
  width: percentage((1 / 3));
}

.col-2-3rd {
  width: percentage((2 / 3));
}

// Media Queries
@media only screen and (max-width: 480px) {
  .container {
    width: 100% !important;
  }

  .column {
    width: 100% !important;
    display: block !important;
  }
}
