body, #body {
  height: 100% !important;
  margin: 0;
  // Margin: 0;
  padding: 0;
  width: 100% !important;
  background-color: $body-bg;
}

img {
  border: 0;
  line-height: 100%;
  outline: none;
  text-decoration: none;
  // Force IE to smoothly render resized images.
  -ms-interpolation-mode: bicubic;
}

a img {
  border: 0;
}

table, td, th {
  // Remove spacing between tables in Outlook 2007 and up.
  mso-table-lspace: 0;
  mso-table-rspace: 0;
}

table {
  border-collapse: collapse;

  // alien=center fix for Yahoo mail https://litmus.com/blog/fixing-table-alignment-in-yahoo-mail
  &[align="center"] {
    margin: 0 auto;
  }
}

td, th {
  @extend %text-adjast-prevention;

  padding: 0;
}

%text-adjast-prevention {
  -webkit-text-size-adjust: 100%;
  -ms-text-size-adjust: 100%;
}

body {
  @extend %text-adjast-prevention;
}

/*
 * Microsoft answerd Litmus in Jan. 2017 that it had completed >99% of the migration. It seems
 * okay to say that we don't need these hacks any more (Jul. 2017)
 * https://emails.hteumeuleu.com/what-you-need-to-know-about-the-new-outlook-com-8d2c54719398
 * https://litmus.com/community/discussions/5844-outlook-com-to-office-365-migration-completed
 *
// Force Hotmail/Outlook.com to display emails at full width.
.ReadMsgBody {
  width: 100%;
}

.ExternalClass {
  width: 100%;
}

// Force Hotmail/Outlook.com to display line heights normally.
.ExternalClass,
.ExternalClass p,
.ExternalClass span,
.ExternalClass font,
.ExternalClass td,
.ExternalClass div {
  line-height: 100%;
}
*/

/*
 * I cound't find any clear explanations how this works. Reasonable explanations I found only say that
 * Outlook shows the message when it identifies rendering issues (regardless of this style).
 * https://teamtreehouse.com/community/outlook-2007-view-in-browser-message (the answer seems incorrect)
 * https://github.com/adam-p/markdown-here/issues/235
 * http://windowsitpro.com/outlook/opening-outlook-2010-email-web-browser
 *
 * I tested on Outlook 2007 and found no differnces between with and without this style. Thus,
 * - the style doesn't trigger Outlokk to display the message.
 * - this could acutally be a style for MailChimp's webversion snipet.
 * - there seems to be no problem to remove this
 *
// Force Outlook 2007 and up to provide a "view in browser" message.
#outlook a {
  padding: 0;
}
*/
