//
// Typography
// --------------------------------------------------

// Headings
// -------------------------
h1, h2, h3, h4, h5, h6 {
  margin: 0 0 ($spacer / 2);
  // Margin: 0 0 ($spacer / 2);
}

h1, h2, h3, h4, h5, h6,
.h1, .h2, .h3, .h4, .h5, .h6 {
  font-family: $headings-font-family;
  font-weight: $headings-font-weight;
  line-height: $headings-line-height;
  color: $headings-color !important;
}

h1, .h1 { font-size: $font-size-h1; }
h2, .h2 { font-size: $font-size-h2; }
h3, .h3 { font-size: $font-size-h3; }
h4, .h4 { font-size: $font-size-h4; }
h5, .h5 { font-size: $font-size-h5; }
h6, .h6 { font-size: $font-size-h6; }

// Body text
// -------------------------
p {
  margin: 0 0 $spacer;
  // Margin: 0 0 $spacer;
}

.lead {
  font-size: floor(($font-size-base * 1.33));
  line-height: 1.25;
}

// Emphasis & misc
// -------------------------
// small
small,
.small {
  font-size: (100% * $font-size-small / $font-size-base);  // 85%
}

// Contextual colors
.text-muted {
  color: $text-muted;
}
