@import "../node_modules/bootstrap-sass/assets/stylesheets/bootstrap/variables";

//
// Variables
// --------------------------------------------------

//== Typography
//
//## Font, line-height, and color for body text, headings, and more.

$font-family-sans-serif:  "Helvetica Neue", Helvetica, Arial, sans-serif;
$font-family-serif:       Georgia, Times, serif;
//** Default monospace fonts for `<code>`, `<kbd>`, and `<pre>`.
$font-family-monospace:   monospace;
$font-family-base:        $font-family-sans-serif;

$font-size-base:          16px;
$font-size-large:         floor(($font-size-base * 1.25));  // ~20px
$font-size-small:         floor(($font-size-base * 0.875)); // ~14px

$font-size-h1:            floor(($font-size-base * 2.25)); // ~36px
$font-size-h2:            floor(($font-size-base * 2));    // ~32px
$font-size-h3:            floor(($font-size-base * 1.75)); // ~28px
$font-size-h4:            floor(($font-size-base * 1.5));  // ~24px
$font-size-h5:            floor(($font-size-base * 1.25)); // ~20px
$font-size-h6:            $font-size-base;

//** Unit-less `line-height` for use in components like buttons.
$line-height-base:        1.375; // 22/16
//** Computed "line-height" (`font-size` * `line-height`) for use with `margin`, `padding`, etc.
$line-height-computed:    round(($font-size-base * $line-height-base)); // ~22px

//** By default, this inherits from the `<body>`.
// $headings-font-family:    inherit;
// $headings-font-weight:    500;
// $headings-line-height:    1.1;
// $headings-color:          inherit;

//== Components
//
//## Define common padding and border radius sizes and more. Values based on 14px text and 1.428 line-height (~20px to start).

$line-height-large:         1.5;
// $line-height-small:         1.5;

//== Buttons
//
//## For each of Bootstrap's buttons, define text, background and border color.
$btn-default-bg:                 #f5f5f5;

// end bootstrap's
// --------------------------------------------------

$spacer: $font-size-base;
