#body {
  height: 100% !important;
  width: 100% !important;
}
a {
  color: #337ab7;
}
table.container {
  margin: 0 auto;
  width: 600px;
}
table.div {
  width: 100%;
}
td.content-box {
  padding-left: 10px;
  padding-right: 10px;
}
@media (max-width: 480px) {
  table[class="container"] {
    width: 100% !important;
  }
}
