body, td{
  font-family:sans-serif;
  font-size:14px;
}
#body{
  height:100% !important;
  width:100% !important;
}
a{
  color:#337ab7;
}
table.container{
  margin:0 auto;
  width:600px;
}
table.div{
  width:100%;
}
td.content-box{
  padding-left:10px;
  padding-right:10px;
}
.h1{ font-size:24px; }
.head-bar{ background-color:#f0f0f0; }
@media (max-width: 480px){
  table[class="container"]{
    width:100% !important;
  }
  td[class="content-box"]{
    padding-left:20px !important;
    padding-right:20px !important;
  }
}
